.checkbox {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 4px var(--primaryDarkBlue) solid;
    margin-right: 4px;
    border-radius: 50%;
}

.checkbox--active {
    background: var(--primaryDarkBlue);
}

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}