.filter {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    
    font-size: 30px;
    background-color: var(--secondaryLightBlue);
}

.filter img{
    height: 40px;
    width: 40px;
    position: relative;
    top: 6px;
}