.list div{
    background-color: var(--secondaryLightBlue);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 70%;
    
    max-height: 60px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0;
}

.list h2{
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 7%;
}

.list{
    background-color: var(--tertiaryLightBlue);
    align-items: center;
    min-width: 40%;
    border-radius: 20px;
    margin: 2% 4%;
    padding: 10px;
    filter: drop-shadow(10px 10px 10px var(--primaryDarkBlue));

    font-family: adolfine;
}

.list button {
    display: inline-block;
    min-height: 41px;
    min-width: 41px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    
    font-size: 30px;
    color: var(--secondaryLightBlue);
    background-color: var(--secondaryDarkBlue);
}

.list .itemInput {
    background-color: var(--tertiaryLightBlue);
    border-color: var(--secondaryDarkBlue);
    border: 3px solid;
    border-radius: 5px;
    font-size: 1.5em;
    margin-left: 40px;
    font-family: inherit;
    font-weight: bold;
    padding: 10px;
    line-height: 2em;
}