@font-face {
	font-family: "adolfine";
    src: url("./assets/fonts/Adolfine Regular.otf");
}

@property --primaryLightBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #CAF0F8;
}
@property --secondaryLightBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #90E0EF;
}
@property --tertiaryLightBlue{
    syntax: "<color>";
    inherits: false;
    initial-value: #d7f4fb;
}
@property --neutralBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #00B4D8;
}
@property --secondaryDarkBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #0077B6;
}
@property --primaryDarkBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #03045E;
}
@property --primaryRed {
    syntax: "<color>";
    inherits: false;
    initial-value: #d20a7b;
}
@property --secondaryRed {
    syntax: "<color>";
    inherits: false;
    initial-value: #ed75b9;
}

h1 {
    color: var(--primaryDarkBlue);
    font-family: adolfine;
    text-align: center;
}

body, html{
    background-color: var(--primaryLightBlue);
}

main{
    display: flex;
}