@font-face {
	font-family: "adolfine";
    src: url("./assets/fonts/Adolfine Regular.otf");
}

@property --primaryLightBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #CAF0F8;
}
@property --secondaryLightBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #90E0EF;
}
@property --tertiaryLightBlue{
    syntax: "<color>";
    inherits: false;
    initial-value: #d7f4fb;
}
@property --neutralBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #00B4D8;
}
@property --secondaryDarkBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #0077B6;
}
@property --primaryDarkBlue {
    syntax: "<color>";
    inherits: false;
    initial-value: #03045E;
}
@property --primaryRed {
    syntax: "<color>";
    inherits: false;
    initial-value: #d20a7b;
}
@property --secondaryRed {
    syntax: "<color>";
    inherits: false;
    initial-value: #ed75b9;
}

body, html{
    background-color: var(--primaryLightBlue);
}

@media (min-width: 1250px) {
    main{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: var(--primaryDarkBlue);
    font-family: adolfine;
    text-align: center;
    background-color: var(--secondaryLightBlue);
    
    width: 330px;
    height: 60px;
    max-height: 60px;

    border-radius: 20px;
    margin-top: 20px;
    padding-top: 10px;
}